.app {
    margin: 20px;
    padding: 20px 30px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 30%,
      rgba(215, 221, 227, 1) 100%
    );
    border: 2px solid #aaa7ac;
    border-radius: 12px;
    box-shadow: 8px 8px 9px -5px rgba(201, 202, 206, 1);
  }